In [10]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("df_segmented.csv")

# Lihat 5 baris pertama
# display(df.head())
print(df.head())

# Info kolom & tipe data
print(df.info())

# Cek missing values
print(df.isnull().sum())

# Statistik ringkasan
print(df.describe(include='all'))

   customerid productid  quantity      price      transactiondate  \
0      109318         C         7  80.079844  2023-12-26 12:32:00
1      993229         C         4  75.195229  2023-08-05 00:00:00
2      579675         A         8  31.528816  2024-03-11 18:51:00
3      799826         D         5  98.880218  2023-10-27 22:00:00
4      121413         A         7  93.188512  2023-12-22 11:38:00

  paymentmethod                                      storelocation  \
0          Cash          176 Andrew Cliffs\r\nBaileyfort, HI 93354
1          Cash  11635 William Well Suite 809\r\nEast Kara, MT ...
2          Cash  910 Mendez Ville Suite 909\r\nPort Lauraland, ...
3        PayPal  87522 Sharon Corners Suite 500\r\nLake Tammy, ...
4          Cash  0070 Michelle Island Suite 143\r\nHoland, VA 8...

  productcategory  discountapplied  totalamount  year  month  day   weekday  \
0           Books        18.677100   455.862764  2023     12   26   Tuesday
1      Home Decor        14.121365   258.306546  2023      8    5  Saturday
2           Books        15.943701   212.015651  2024      3   11    Monday
3           Books         6.686337   461.343769  2023     10   27    Friday
4     Electronics         4.030096   626.030484  2023     12   22    Friday

   hour  price_after_discount     revenue           Segment
0    12             65.123252  455.862764  Recent Customers
1     0             64.576637  258.306546   Frequent Buyers
2    18             26.501956  212.015651   Loyal Customers
3    22             92.268754  461.343769   Frequent Buyers
4    11             89.432926  626.030484         Champions
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   customerid            100000 non-null  int64
 1   productid             100000 non-null  object
 2   quantity              100000 non-null  int64
 3   price                 100000 non-null  float64
 4   transactiondate       100000 non-null  object
 5   paymentmethod         100000 non-null  object
 6   storelocation         100000 non-null  object
 7   productcategory       100000 non-null  object
 8   discountapplied       100000 non-null  float64
 9   totalamount           100000 non-null  float64
 10  year                  100000 non-null  int64
 11  month                 100000 non-null  int64
 12  day                   100000 non-null  int64
 13  weekday               100000 non-null  object
 14  hour                  100000 non-null  int64
 15  price_after_discount  100000 non-null  float64
 16  revenue               100000 non-null  float64
 17  Segment               100000 non-null  object
dtypes: float64(5), int64(6), object(7)
memory usage: 13.7+ MB
None
customerid              0
productid               0
quantity                0
price                   0
transactiondate         0
paymentmethod           0
storelocation           0
productcategory         0
discountapplied         0
totalamount             0
year                    0
month                   0
day                     0
weekday                 0
hour                    0
price_after_discount    0
revenue                 0
Segment                 0
dtype: int64
           customerid productid       quantity          price  \
count   100000.000000    100000  100000.000000  100000.000000
unique            NaN         4            NaN            NaN
top               NaN         C            NaN            NaN
freq              NaN     25209            NaN            NaN
mean    500463.982180       NaN       5.009290      55.067344
std     288460.917524       NaN       2.579808      25.971567
min         14.000000       NaN       1.000000      10.000430
25%     250693.750000       NaN       3.000000      32.549474
50%     499679.000000       NaN       5.000000      55.116789
75%     751104.750000       NaN       7.000000      77.456763
max     999997.000000       NaN       9.000000      99.999284

            transactiondate paymentmethod  \
count                100000        100000
unique                91025             4
top     2024-04-03 23:55:00        PayPal
freq                      5         25067
mean                    NaN           NaN
std                     NaN           NaN
min                     NaN           NaN
25%                     NaN           NaN
50%                     NaN           NaN
75%                     NaN           NaN
max                     NaN           NaN

                                    storelocation productcategory  \
count                                      100000          100000
unique                                     100000               4
top     176 Andrew Cliffs\r\nBaileyfort, HI 93354        Clothing
freq                                            1           25056
mean                                          NaN             NaN
std                                           NaN             NaN
min                                           NaN             NaN
25%                                           NaN             NaN
50%                                           NaN             NaN
75%                                           NaN             NaN
max                                           NaN             NaN

        discountapplied    totalamount           year          month  \
count     100000.000000  100000.000000  100000.000000  100000.000000
unique              NaN            NaN            NaN            NaN
top                 NaN            NaN            NaN            NaN
freq                NaN            NaN            NaN            NaN
mean          10.020155     248.334955    2023.327330       6.511440
std            5.779534     184.554792       0.469241       3.456482
min            0.000046       8.274825    2023.000000       1.000000
25%            5.001013      95.163418    2023.000000       3.000000
50%           10.030353     200.368393    2023.000000       7.000000
75%           15.018367     362.009980    2024.000000      10.000000
max           19.999585     896.141242    2024.000000      12.000000

                  day   weekday           hour  price_after_discount  \
count   100000.000000    100000  100000.000000         100000.000000
unique            NaN         7            NaN                   NaN
top               NaN  Saturday            NaN                   NaN
freq              NaN     14354            NaN                   NaN
mean        15.673570       NaN      11.481180             49.549614
std          8.817205       NaN       6.917042             23.630841
min          1.000000       NaN       0.000000              8.070445
25%          8.000000       NaN       5.000000             29.149264
50%         16.000000       NaN      11.000000             49.382997
75%         23.000000       NaN      17.000000             69.461597
max         31.000000       NaN      23.000000             99.864861

              revenue          Segment
count   100000.000000           100000
unique            NaN                7
top               NaN  Frequent Buyers
freq              NaN            23791
mean       248.334955              NaN
std        184.554792              NaN
min          8.274825              NaN
25%         95.163418              NaN
50%        200.368393              NaN
75%        362.009980              NaN
max        896.141242              NaN

In [11]:
# Segment Profiling Summary
profiling = df.groupby('Segment').agg(
    CustomerCount=('customerid', 'nunique'),
    TotalRevenue=('revenue', 'sum'),
    TotalTransactions=('customerid', 'count')
).reset_index()

# Menambahkan kolom rata-rata revenue per transaksi
profiling['AvgRevenuePerTransaction'] = profiling['TotalRevenue'] / profiling['TotalTransactions']

# Urutkan berdasarkan TotalRevenue
profiling = profiling.sort_values(by='TotalRevenue', ascending=False)

# Tampilkan hasil
profiling.style.format({
    'TotalRevenue': 'Rp{:,.0f}',
    'AvgRevenuePerTransaction': 'Rp{:,.2f}'
})

### 🧮 Segment Profiling Summary

Berikut adalah rangkuman profil tiap segmen berdasarkan:
- Jumlah pelanggan unik (CustomerCount)
- Total pendapatan (TotalRevenue)
- Jumlah transaksi
- Rata-rata revenue per transaksi

Ini berguna untuk mengetahui segmen mana yang paling menguntungkan dan memiliki pelanggan paling aktif.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Pastikan 'transactiondate' sudah jadi datetime dan ada kolom 'segment'
df['transactiondate'] = pd.to_datetime(df['transactiondate'])
df['year_month'] = df['transactiondate'].dt.to_period('M').astype(str)

# Hitung jumlah transaksi per segment per bulan
monthly_segment = df.groupby(['year_month', 'segment']).size().reset_index(name='transaction_count')

# Visualisasi
plt.figure(figsize=(14, 6))
sns.lineplot(data=monthly_segment, x='year_month', y='transaction_count', hue='segment', marker='o')
plt.title('📊 Jumlah Transaksi per Segment per Bulan')
plt.xlabel('Bulan')
plt.ylabel('Jumlah Transaksi')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.legend(title='Segment')
plt.show()